@using MVCTest.Models;
@{
    ViewBag.Title = "Home Page";
    Layout = null;

    List<Order> Orders = ViewBag.List;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<table class="table">
    <thead>
        <tr>
            <th>訂單編號</th>
            <th>顧客名稱</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Order order in Orders)
        {
            <tr>
                <th>@order.OrderID</th>
                <th>@order.CustomerID</th>
                <th>
            </tr>
        }

    </tbody>
</table>

<p>
    @Html.ActionLink("新增資料", "InsertData")
</p>